{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block bodyhead %}
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav">
  <li>
    <a href="{{ url_for('index') }}">主页</a>
  </li>
  <li class="active">
    <a href="{{ url_for('list_book') }}">图书管理</a>
  </li>
  <li>
    <a href="{{ url_for('list_user') }}">用户管理</a>
  </li>
  <li>
    <a href="{{ url_for('query_book') }}">查询图书</a>
  </li>
  <li>
    <a href="{{ url_for('record') }}">借书记录</a>
  </li>
</ul>

{% endblock %}

{% block content %}
<a class="btn btn-info pull-right" href="{{ url_for('create_book') }}" style="margin:15px 10px 10px;">添加图书</a>
<br />
<br />
<br />
<br />
<p>
  {% for book in books %}
<article class="post">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ book['title'] }}
        <a class="btn btn-danger btn-sm pull-right" href="{{ url_for('update_book', id=book['id']) }}">编辑</a>
        {% if book['borrower'] == -1 %}
        <a class="btn btn-success btn-sm pull-right" href="{{ url_for('op_book', id=book['id']) }}">借书</a>
        {% else %}
        <a class="btn btn-success btn-sm pull-right" href="{{ url_for('op_book', id=book['id']) }}">还书</a>
        {% endif %}
      </h3>
    </div>
    <div class="panel-body">
      作者：{{ book['author'] }}&nbsp;|&nbsp;标准书号：{{ book['serial'] }}&nbsp;|&nbsp;添加时间：{{
      book['create_time'].strftime('%Y-%m-%d %H:%M:%S') }}&nbsp;|&nbsp;状态：{% if book['borrower'] == -1 %}在库{% else
      %}已借{% endif %}
      <hr>
      <p class="body">{{ book['intro'] }}</p>
    </div>
  </div>

</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<div style="text-align: center;">
  <ul class="pagination">
    <li><a {% if page==1 %} class="btn disabled" {% endif %} href="{{url_for('list_book', page=page-1)}}">上一页</a></li>
    {%if page_max >= 6 %}
    {%if page <= 3 %} {%for num in range(1,5)%} <li {% if num==page %} class="active" {% endif %}><a
        href="{{url_for('list_book', page=num)}}">{{num}}</a></li>
      {%endfor%}
      <li><a class="btn disabled" href="#">...</a></li>
      <li {% if num==page %} class="active" {% endif %}><a href="{{url_for('list_book', page=5)}}">5</a></li>
      {%else%}
      {%if page+3 <= page_max %} {%for num in range(page-3,page+3)%} <li {% if num==page %} class="active" {% endif %}>
        <a href="{{url_for('list_book', page=num)}}">{{num}}</a></li>
        {%endfor%}
        <li><a class="btn disabled" href="#">...</a></li>
        <li><a href="{{url_for('list_book', page=page+3)}}">{{page+3}}</a></li>
        {%else%}
        {%for num in range(page_max-6,page_max)%}
        <li {% if num==page %} class="active" {% endif %}><a href="{{url_for('list_book', page=num)}}">{{num}}</a></li>
        {%endfor%}
        <li><a class="btn disabled">...</a></li>
        <li {% if page==page_max %} class="active" {% endif %}><a
            href="{{url_for('list_book', page=page_max)}}">{{page_max}}</a></li>
        {% endif %}
        {% endif %}
        {%else%}
        {%for num in range(1,page_max)%}
        <li {% if num==page %} class="active" {% endif %}><a href="{{url_for('list_book', page=num)}}">{{num}}</a></li>
        {%endfor%}
        <li {% if page==page_max %} class="active" {% endif %}><a
            href="{{url_for('list_book', page=page_max)}}">{{page_max}}</a></li>
        {%endif%}
        <li><a {% if page==page_max %} class="btn disabled" {% endif %}
            href="{{url_for('list_book', page=page+1)}}">下一页</a></li>
  </ul>
</div>
</p>
{% endblock %}

